<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a>
        <span class="website-title" routerLink="/featured">Youtube Clone</span>
      </a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button >
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
