<mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
        <mat-list-item routerLink="/featured">
            <mat-icon matListItemIcon id="spacer"></mat-icon>
            <div matListItemTitle></div>
        </mat-list-item>
        
        <mat-list-item routerLink="/featured">
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle>Home</div>
        </mat-list-item>

        <mat-list-item routerLink="/subscriptions">
            <mat-icon matListItemIcon>subscriptions</mat-icon>
            <div matListItemTitle>Subscriptions</div>
        </mat-list-item>

        <mat-list-item routerLink="/emograph">
            <mat-icon matListItemIcon>insert_chart</mat-icon>
            <div matListItemTitle>Emograph</div>
        </mat-list-item>

        <mat-list-item routerLink="/liked-videos">
            <mat-icon matListItemIcon>thumb_up</mat-icon>
            <div matListItemTitle>Liked Videos</div>
        </mat-list-item>

        <mat-list-item routerLink="/emodetails">
            <mat-icon matListItemIcon>insert_chart</mat-icon>
            <div matListItemTitle>Emotion Details</div>
        </mat-list-item>

        <mat-list-item routerLink="">
            <mat-icon matListItemIcon>home</mat-icon>
            <div matListItemTitle>Home</div>
        </mat-list-item>
      </mat-nav-list>
</mat-sidenav>


<!-- <div class="sidenav">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
    </button>
</div> -->
