<div class="card" routerLink="/barhor">
  <mat-card class="thumbnail">
    <img mat-card-image [src]="thumbnailUrl" alt="video thumbnail" class="image">
    <mat-card-header class="header">
      <img mat-card-avatar src="{{profilePic}}">
      <mat-card-title class="title">Video Title</mat-card-title>
      <mat-card-subtitle class="subtitle">Profile name</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
      <div class="overlay">
        <div class="info">Additional Info</div>
        <div class="info">Additional Info</div>
        <div class="info">Additional Info</div>
      </div>
    </mat-card-content>
    <mat-card-footer class="footer">
      <span>views</span>
      <span class="bullet"></span>
      <span class="time">69 hours ago</span>
    </mat-card-footer>
  </mat-card>  
</div>
