.flex-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.flex-grid-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

/* .col {
    width: 20%;
} */

